.custom-icon {
    font-size: 1.25rem; /* text-xl */
    color: black; /* text-default-500 */
    pointer-events: none; /* pointer-events-none */
    flex-shrink: 0; /* flex-shrink-0 */
}

.dropdown_menu {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    /* Add more styles as needed */
}